.tm-signin, .tm-rt {
    max-width: 1366px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.auth-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tm-signin-frame{
    width: 70%;
    height: 300px;
    background-color: white;
    opacity: 0.7;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

.tm-signin-left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.tm-text-si-logo, .tm-text-rt-logo {
    font-size: 65px;
    margin-bottom: 10px;
}

.tm-text-si-sublogo, .tm-text-rt-sublogo {
    padding-top: 10px;
    font-size: 16px;
}

.tm-text-si-deco {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    width: 80%;
}

.tm-signin-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    border-style: solid;
    border-width: 0px;
    border-radius: 30px;
    background: linear-gradient(to bottom right, violet, indigo, blue, green, yellow, orange, red);
}

.tm-signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 5px;
    border-radius: 27px;
    overflow: hidden;
    background: white;
    opacity: 1;
}

.tm-signin-dn {
    font-size: 25px;
    text-align: center;
    padding: 0 0 10px 0;
}

.tm-signin-input {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tm-si-ip, .tm-rt-ip{
    font-size: 13px;
    line-height: 22px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #1fb9a7;
    padding: 2px 10px;
}

.tm-si-ip-title, .tm-rt-ip-title {
    font-size: 13px;
    line-height: 28px;
}

.tm-si-ip {
    width: 70%;
}

/*===========================Register============================*/
.tm-si-register {
    text-align: center;
    color: gray;
    font-size: 10px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.tm-si-register:hover {
    color: black;
}

.tm-rt-top {
    margin: 30px 30px 10px 30px;
}

.tm-rt-frame {
    width: 70%;
    background-color: white;
    opacity: 0.7;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

.tm-rt-bottom {
    margin: 0 30px 30px 30px;
}

.tm-rt-input {
    margin: 3px 0 0 0;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.tm-rt-ip-title {
    width: 20%;
    /*float: left;*/
    margin: 15px 0 0 0;
}

.tm-rt-ip {
    /*float: left;*/
    margin: 15px 0 0 0;
}

.tm-text-rt-deco {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    width: 100%;
}
/*==================================Responsive================================*/
@media only screen and (max-width: 1100px) {
    .tm-signin-frame {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .tm-text-si-logo {
        font-size: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .tm-signin-frame {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .tm-signin-frame {
        flex-direction: column;
        height: auto;
        width: 70%;
        text-align: center;
    }

    .tm-text-si-br {
        display: none;
    }

    .tm-signin-right, .tm-signin-left {
        margin: auto;
        width: 80%;
    }

    .tm-signin-left {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .tm-signin-right {
        margin-bottom: 20px;
        margin-top: 10px;
        height: 280px;
    }

    .tm-text-si-deco {
        width: 70%;
        margin: auto;
        border-width: 0.5px;
    }

    .tm-text-si-logo {
        font-size: 35px;
    }
}

@media only screen and (max-width: 550px) {
    .tm-signin-frame {
        width: 90%;
    }

    .tm-signin-right, .tm-signin-left {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .tm-si-ip-title, .tm-si-ip {
        font-size: 13px;
    }

    .tm-text-si-sublogo {
        font-size: 12px;
    }

    .tm-text-si-logo {
        font-size: 30px;
    }
}