.tm-db-hd-info-frame {
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
    padding: 5px 0;
}

.tm-db-hd-nameweb {
    float: left;
    padding: 0 7px;
    line-height: 40px;
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.tm-db-hd-right {
    float: right;
    display: flex;
    flex-direction: row;
}

.tm-db-hd-signout, .tm-db-hd-avatar, .tm-db-hd-nameinfo, .tm-db-hd-notification {
    padding: 0 7px;
}

.tm-db-hd-nameinfo {
    text-align: right;
}

.tm-db-hd-signout {
    font-size: 20px;
    margin-right: 5px;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    transition: all ease 0.5s;
}

.tm-db-hd-signout:hover {
    background-color: white;
    color: black;
}

.tm-db-hd-image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: yellow;
}

.tm-db-hd-name {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.tm-db-hd-status {
    font-size: 11px;
}

.tm-db-hd-status-icon {
    border-radius: 4px;
    width: 4px;
    height: 4px;
}

/*================================Content=============================*/
.tm-db-content-frame {
    width: 95%;
    margin: auto;
    border-radius: 30px;
    margin-top: -230px;
    z-index: 2;
    position: relative;
    background: white;
    min-height: 1000px;
    /*box-shadow: 0px 5px 30px black;*/
}

.tm-db-ct-yq-frame {
    width: 60%;
    margin: auto;
    padding: 20px 0;
    transition: all ease 0.2s;
}

.tm-db-ct-yq-topics-frame {
    width: 100%;
    background: linear-gradient(to top, #2E456A, #3a5688);
    border-radius: 4px;
}

.tm-topic-active {
    border-radius: 5px;
    width: 25%;
    color: white;
}

.tm-db-ct-yq-topic {
    line-height: 40px;
    text-align: center;
    transition: all ease 0.5s;
    cursor: pointer;
}

.tm-topic-inactive:hover {
    color: white;
}

.tm-topic-inactive:hover .tm-deco-topics-inactive {
    width: 80%;
}

.tm-topic-inactive {
    width: 15%;
    color: grey;
    border-color: lightgrey;
    cursor: pointer;
}

.tm-db-ct-yq-topic-icon {
    padding: 0 5px;
    font-size: 15px;
    margin-right: 5px;
}

.tm-db-ct-yq-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.tm-qt-line {
    margin: 0 20px;
    width: 30%;
    height: 2px;
    border-radius: 4px;
    background: linear-gradient(to right, rebeccapurple, mediumpurple);
}

.tm-deco-topics-active {
    width: 90%;
    height: 4px;
    background-color: white;
    margin: auto;
    border-radius: 4px;
    border-width: 0px;
    margin-bottom: 2px;
}

.tm-deco-topics-inactive {
    width: 0;
    height: 4px;
    background-color: white;
    margin: auto;
    border-radius: 4px;
    border-width: 0px;
    margin-bottom: 2px;
    transition: all ease 0.5s;
}

.tm-db-topic-catalogue {
    width: 30%;
    box-shadow: lightgrey 0px 5px 20px;
    margin: 30px 0;
    transition: all 0.2s ease;
    cursor: pointer;
}

.tm-db-topic-catalogue:hover {
    transform: scale(1.1);
}

.tm-db-tp-ctl-icon {
    width: 30%;
    margin: 10px 0 10px;
}

.tm-img-tp-ctl-icon {
    width: 60%;
    transition: all 2s ease;
}

.tm-db-topic-ctl-content {
    width: 50%;
    margin: 10px 0 10px 0;
    text-decoration: none;
}

.tm-db-topic-ctl-ct-title {
    font-size: 20px;
    color: black;
}

.tm-db-topic-ctl-ct-quantity {
    font-size: 11px;
    color: grey;
    margin-top: 3px;
}

.tm-db-ct-topics-title, .tm-db-newqt-title {
    font-size: 30px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.tm-db-newqt-btn {
    width: 40%;
    font-size: 20px;
    padding: 20px;
    margin: 15px;
    background: linear-gradient(to bottom, #6698F0, #36507E, #6698F0);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

/*=====================================New question================================*/
.tm-newqt-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    width: 100%;
    border-radius: 5px;
    border-width: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

.tm-newqt-title:focus {
    box-shadow: #006EE6 0 0 10px;
}

.tm-newqt-category {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}

.tm-newqt-ctg-title, .tm-newqt-select-box, .tm-newqt-coin-title {
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px;
}

.tm-newqt-tags, .tm-newqt-setcoin {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
}

.tm-newqt-tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tm-tag-frame {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.tm-tag-icon {
    font-size: 12px;
    line-height: 20px;
    border-width: 1px;
    padding: 0 5px;
    background-color: darkgray;
    border-radius: 3px 0 0 3px;
    transition: all ease 0.5s;
    cursor: pointer;
    border-style: solid;
    border-color: darkgray;
}

.tm-tag-icon:hover {
    background-color: white;
    color: red;
    font-weight: bolder;
}

.tm-tag-name {
    border-width: 1px;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px;
    background-color: lightgrey;
    border-radius: 0 3px 3px 0;
    border-style: solid solid solid none;
    border-color: lightgrey;
}

.tm-tag-input {
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    width: 100px;
    padding: 0 5px;
    font-size: 12px;
}

.tm-newqt-btn-frame {
    width: 100%;
}

/*=====================================Question detail=================================*/
.tm-qd-ct-avatar-frame {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tm-qd-ct-info-frame {
    width: 75%;
    margin-left: 5px;
}

.tm-qd-ct-avatar {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    transition: all ease 0.2s;
    cursor: pointer;
}

.tm-qd-ct-avatar:hover {
    box-shadow: #006EE6 0 0 5px;
}

.tm-qd-ct-info-title, .tm-qd-qa-report {
    font-size: 10px;
    color: darkgray;
}

.tm-qd-ct-info-number, .tm-qd-qa-report {
    color: gray;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.tm-qd-ct-name {
    font-size: 20px;
    line-height: 30px;
}

.tm-qd-ct-title {
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
}

.tm-qd-ct-question {
    width: 100%;
    font-size: 14px;
    margin: 10px 0 5px 0;
    line-height: 20px;
}

.tm-qd-ca-avatar {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.tm-qd-ca-editor {
    width: 90%;
}

.tm-qd-ca-deco {
    width: 80%;
    margin: auto;
    height: 1px;
    background: #cbcbcb;
    margin-top: 20px;
}

.tm-qd-qa-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
}

.tm-qd-qa-name {
    font-size: 16px;
}

.tm-qd-qa-type {
    font-size: 11px;
    color: gray;
}

.tm-qd-qa-btn {
    width: 50%;
    height: 40px;
    margin: 10px 0;
    background: linear-gradient(to bottom, #6698F0, #36507E);
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.tm-qd-qa-report:hover {
    color: #006EE6;
}

.tm-qd-qc-content {
    margin: 10px 0;
    width: 90%;
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
}

.tm-qd-ca-content {
    width: 90%;
}

/*=======================================Group===================================*/
.tm-db-gr-cg-name {
    font-size: 16px;
}

.tm-db-gr-cg-input {
    width: 50%;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    transition: all ease 0.2s;
}

.tm-db-gr-cg-input:focus {
    /*outline: none;*/
    box-shadow: #006ee6 0 0 10px;
}

.tm-db-gr-cg-form-frame {

}

.tm-db-gr-cg-radio-content {
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
    text-align: justify;
    width: 100%;
}

.tm-db-gr-cg-privacy-icon {
    width: 25px;
    margin: 0 0 0 10px;
}

.tm-db-gr-cg-privacy-title {
    font-weight: bolder;
    font-size: 16px;
}

.tm-db-gr-cg-textarea {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    transition: all ease 0.2s;
    resize: vertical;
    min-height: 50px;
}

.tm-db-gr-cg-textarea:focus {
    /*outline: none;*/
    box-shadow: #006ee6 0 0 10px;
}

/* ====================================Join Group==================================== */
.tm-gr-jg-search {
    width: 70%;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    transition: all ease 0.2s;
    margin-right: 10px;
}

.tm-gr-jg-search:focus {
    /*outline: none;*/
    box-shadow: #006ee6 0 0 10px;
}

.tm-waiting-frame {
    border-style: dashed;
    border-color: darkgray;
    border-width: thick;
    text-align: center;
    color: darkgray;
    height: 50px;
    line-height: 50px;
}

.tm-sg-result {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.tm-sg-result-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-width: 0px;
}

.tm-sg-result-content {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tm-sg-result-grName {
    font-size: 20px;
}

.tm-sg-result-detail {
    font-size: 12px;
    color: darkgray;
}

.tm-sg-result-detail-bold {
    color: gray;
    margin: 0 10px;
}

.tm-sg-loading-frame {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(162, 162, 162, 0.2);
    border-radius: 5px;
}

.tm-qd-editable-content {
    padding: 0 2px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.tm-qd-editable-content:hover {
    background-color: black;
    border-radius: 2px;
    color: white;
}

.tm-qd-editable-content-icon {
    padding: 8px 4px 0px 4px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.tm-qd-editable-content-icon:hover {
    color: royalblue;
}

.qd-form-edit-frame {
    text-align: center;
    max-height: 400px;
    overflow: auto;
}

.qd-form-edit-select-box {
    margin: 10px;
    font-size: 16px;
    padding: 5px;
}

.qd-form-edit-button-frame {
    display: flex;
    flex-direction: row-reverse;
}

.hca-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px 0 0 0;
    border-radius: 2px;
    border-width: 0px;
    box-shadow: 0 0 5px grey;
    padding: 3px;
    cursor: pointer;
    font-size: 15px;
}

.hca-status {
    width: 25%;
    text-align: center;
    padding: 3px 0;
}

.hca-action {
    width: 25%;
    text-align: center;
    padding: 3px 0;
}

.hca-time {
    width: 25%;
    text-align: center;
    padding: 3px 0;
}

.hca-link {
    text-decoration: none;
    color: black;
    width: 25%;
    text-align: center;
    border-width: 0px;
    border-radius: 2px;
    transition: all ease 0.3s;
    padding: 3px 0;
}

.hca-link:hover {
    color: white;
    font-weight: bold;
    background-color: grey;
}

.hca-make-up {
    width: 25%;
    text-align: center;
    padding: 3px 0;
    border-width: 0px;
    border-radius: 2px;
    transition: all ease 0.3s;
}

.hca-make-up:hover {
    color: white;
    font-weight: bold;
    background-color: green;
}

.hca-status-header, .hca-action-header, .hca-link-header, .hca-time-header {
    width: 25%;
    text-align: center;
    /* font-weight: bold; */
    font-size: 16px;
    margin: 3px 0;
}