.tm-sidebar-input {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    transition: all ease 0.2s;
}

.tm-sidebar-input:focus {
    /*outline: none;*/
    box-shadow: #006ee6 0 0 10px;
}

.tm-group-sidebar-info {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 5px;
    position: relative;
}

.tm-group-info-bg-orange {
    background: linear-gradient(90deg, #F4AC39, #F4AC39 19%, white 19%, white 20%, #FECD3D 20%);
}

.tm-group-info-bg-ocean {
    background: linear-gradient(90deg, #69AFBA, #69AFBA 19%, white 19%, white 20%, #7EC6D9 20%);
}

.tm-group-info-bg-green {
    background: linear-gradient(90deg, #8DC970, #8DC970 19%, white 19%, white 20%, #B6DA97 20%);
}

.tm-group-info-bg-purple {
    background: linear-gradient(90deg, #7180E2, #7180E2 19%, white 19%, white 20%, rgb(151, 161, 224) 20%);
}

.tm-group-sidebar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    width: 20%;
}

.tm-group-sidebar-title {
    font-size: 15px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 79%;
}

.tm-group-sb-span {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.tm-group-area-title {
    font-size: 25px;
    text-align: center;
    margin: 35px 0 5px 0;
}

.tm-group-sidebar-refresh {
    position: absolute;
    right: 10px;
    top: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    transition: all ease 0.2s;
}

.tm-group-sidebar-refresh:hover {
    color: black;
}

.tm-group-sidebar-refresh-icon {
    /* transition: all 0.5s none; */
    animation-name: tm-animation-spin-forever;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes tm-animation-spin-forever {
    to {
        transform: rotate(360deg);
    }
}