.admin-header-frame {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: royalblue;
    color: white;
}

.admin-header-logo {
    line-height: 100px;
    font-size: 50px;
}

.admin-header-sub-name {
    font-size: 20px;
}

.admin-info-frame {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.admin-info-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-info-fullname {
    font-size: 20px;
    text-align: right;
    margin: 5px;
}

.admin-info-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: black;
}

.admin-img-avatar-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-img-avatar {
    width: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.admin-sign-out {
    margin: 0 10px 0 20px;
    font-size: 30px;
    border-radius: 10px;
    transition: all ease 0.5s;
    padding: 15px;
    cursor: pointer;
}

.admin-sign-out:hover {
    background-color: white;
    color: black;
}

.admin-oq-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px 1px 0.5px 1px;
}

.admin-oq-detail {
    width: 70%;
}

.admin-oq-title {
    font-weight: bold;
    font-size: 20px;
}

.admin-oq-content {
    font-size: 16px;
}

.admin-oq-field {
    width: 15%;
    text-align: center;
}

.admin-op-button {
    width: 15%;
    text-align: center;
}

/* ===============================Accepted report================================ */
.admin-accepted-report-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.admin-ar-question {
    width: 35%;
}

.admin-ar-question-title {
    font-size: 20px;
    font-weight: bold;
}

.admin-ar-question-content {
    text-align: justify;
}

.admin-ar-answer {
    width: 35%;
}

.admin-ar-answer-content {
    text-align: justify;
}

.admin-ar-field {
    width: 10%;
    text-align: center;
}

.admin-ar-button {
    width: 15%;
    text-align: center;
}