.tm-personal-header-background {
    height: 300px;
    width: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tm-personal-header-homepage {
    text-decoration: none;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.tm-personal-header-signout {
    text-decoration: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: black;
}

.tm-personal-header-info-frame {
    height: 200px;
    /* transform: translateY(-50%); */
    position: absolute;
    top: 200px;
}

.tm-personal-img-avatar {
    height: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
}

.tm-personal-header-info {
    width: 100%;
}

.tm-personal-header-name-frame {
    font-size: 30px;
    height: 50%;
}

.tm-personal-header-name {
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
}

.tm-personal-header-bonus-info-frame {
    height: 50%;
}

.tm-personal-header-bonus-info {
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}

.tm-personal-header-bi-statistic {
    color: black;
    margin-top: 5px;
    margin: 0 10px 0 3px;
}

.tm-personal-category-frame {
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all ease 0.5s;
    height: 70px;
}

.tm-personal-category-active, .tm-personal-category-nonactive {
    width: 15%;
    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    transition: all ease 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.tm-personal-category-active {
    width: 20%;
    height: 70px;
    background: linear-gradient(to bottom right, #F3AC39, #FDCD3D);
    font-size: 25px;
}

.tm-personal-category-nonactive {
    width: 15%;
    height: 50px;
    background: linear-gradient(to top, gray, darkgray);
    margin-top: 10px;
}

.tm-personal-dashboard-chart {
    width: 45%;
    height: 400px;
    background-color: darkgray;
}

.tm-personal-coininfo-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.tm-personal-coininfo-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tm-personal-coininfo-amount {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: greenyellow;
    text-align: center;
    line-height: 200px;
    font-size: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.tm-personal-coininfo-income, .tm-personal-coininfo-outcome {
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    color: white;
}

.tm-personal-coininfo-income {
    background-color: orange;
}

.tm-personal-coininfo-outcome {
    background-color: rebeccapurple;
}

.tm-personal-coininfo-subdetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 20px;
}

.tm-personal-ci-icon-outcome, .tm-personal-ci-icon-income {
    line-height: 90px;
    font-size: 35px;
}

.tm-personal-ci-icon-income {
    color: orange;
}

.tm-personal-ci-icon-outcome {
    color: rebeccapurple;
}

.tm-personal-coininfo-input {
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    transition: all ease 0.2s;
    margin-bottom: 20px;
}

.tm-personal-coininfo-input:focus {
    box-shadow: #006ee6 0 0 10px;
}

.tm-personal-coininfo-convert {
    font-size: 60px;
    color: green;
    margin-bottom: 10px;
}

.tm-psn-cm-chart-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 30px;
    height: 400px;
}

.tm-psn-cm-chart {
    width: 45%;
}

.tm-pcm-hisTransaction-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.tm-pcm-ht-icon {
    width: 50px;
}

.tm-pcm-ht-reason, .tm-pcm-ht-amount, .tm-pcm-ht-reference, .tm-pcm-ht-time {
    border-left-style: solid;
    border-width: 1px;
    padding-left: 15px;
}

.tm-pcm-ht-reason {
    width: 40%;
}

.tm-pcm-ht-amount {
    width: 10%;
}

.tm-pcm-ht-reference {
    width: 20%;
}

.tm-pcm-ht-time {
    width: 15%  ;
}

/* ====================Group management======================= */
.tm-pygs-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tm-pyg-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 45%;
    margin-bottom: 30px;
}

.tm-pyg-setting-frame {
    width: 150px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tm-pyg-info-frame {
    flex-shrink: 1;
    width: 100%;
}

.tm-pyg-img-avatar {
    width: 100px;
    margin-bottom: 20px;
}

.tm-pyg-groupname {
    font-size: 25px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.tm-pyg-bonusinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.tm-pyg-members, .tm-pyg-privacy, .tm-pyg-question {
    background-color: #e8e8e8;
    padding: 10px 5px;
    font-size: 12px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
}

.tm-pyg-creator {
    background-color: #e8e8e8;
    padding: 10px 5px;
    font-size: 12px;
    width: 60%;
    border-radius: 5px;
    cursor: pointer;
}

.tm-pyg-description {
    margin-top: 15px;
    font-size: 12px;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.tm-pjg-creator-name:hover {
    font-weight: bold;
}

/* ========================Personal infos============================ */
.tm-pi-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.tm-pi-input-title {
    font-size: 16px;
    width: 120px;
    flex-shrink: 0;
    line-height: 40px;
}

.tm-pi-input {
    flex-shrink: 1;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    transition: all ease 0.2s;
    color: black;
    background-color: white;
}

.tm-pi-input:focus {
    box-shadow: #006ee6 0 0 10px;
}