/*==========================Question===========================*/
.tm-question-frame {
    width: 48%;
    min-width: 250px;
    box-shadow: grey 0 0 5px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    color: gray;
}

.tm-question-frame:hover {
    /* transform: scale(1.1); */
    box-shadow: black 0 0 20px;
}

.tm-question-frame:hover .tm-qt-title {
    color: black;
}

.tm-qt-info {
    margin: 15px 20px 20px 20px;
}

.tm-img-db-icon {
    width: 70%;
    max-width: 100px;
}

.tm-qt-header {
    margin: 20px;
}

.tm-qt-header-icon {
    /* width: 30%; */
    width: fit-content;
    min-width: 100px;
}

.tm-qt-title {
    font-weight: bolder;
    font-size: 23px;
    line-height: 30px;
    height: 30px;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    color: #537477;
    transition: all 0.5s ease;
}

.tm-qt-brief-content {
    font-weight: lighter;
    font-size: 13px;
    line-height: 20px;
    color: grey;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.tm-qt-info-frame {
    width: 100%;
}

.tm-qt-time {
    font-size: 10px;
    line-height: 12px;
    margin-top: 3px;
}

.tm-qt-info-detail {
    width: 25%;
}

.tm-qt-info-number {
    font-size: 25px;
    font-weight: bolder;
    color: grey;
}

.tm-qt-info-name {
    font-size: 14px;
    color: grey;
}

/*============================Footer===========================*/
.tm-footer-icon-row {
}

.tm-footer-icon-frame {
    height: 150px;
    background: linear-gradient(to top right, #B06AB3, #476ADB);
}

.tm-footer-icon {
    height: 40px;
    width: 40px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    transition: all ease 0.5s;
    border-radius: 40px;
    margin: 20px;
    border-color: white;
    color: white;
    cursor: pointer;
}

.tm-footer-icon-fb:hover {
    border-color: #006EE6;
    color: #006EE6;
    background-color: white;
}

.tm-footer-icon-twitter:hover {
    border-color: #1DA1F2;
    color: #1DA1F2;
    background-color: white;
}

.tm-footer-icon-youtube:hover {
    border-color: #f83f37;
    color: #f83f37;
    background-color: white;
}

.tm-footer-icon-ig:hover {
    border-color: #F2B25F;
    color: #F2B25F;
    background-color: white;
}

.tm-footer-icon-mail:hover {
    border-color: #A9443B;
    color: #A9443B;
    background-color: white;
}

/*============================Side bar=========================*/
.tm-sidebar-left-frame {
    position: absolute;
    left: 5px;
    top: 30px;
    width: 17%;
}

.tm-sidebar-right-frame {
    position: absolute;
    right: 5px;
    top: 30px;
    width: 17%;
    z-index: -1;
}

.tm-avatar-sidebar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tm-avatar-sidebar:hover {
    box-shadow: royalblue 0 0 10px;
}

.tm-sidebar-name {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.tm-sidebar-detail-info {
    background: linear-gradient(#F4AC39, #F4AC39 59%, white 59%, white 61%, #FECD3D 61% );
}

.tm-sidebar-question-info {
    background: linear-gradient(#69AFBA, #69AFBA 59%, white 59%, white 61%, #7EC6D9 61% );
}

.tm-sidebar-answer-info {
    background: linear-gradient(#8DC970, #8DC970 59%, white 59%, white 61%, #B6DA97 61% );
}

.tm-sidebar-question-info, .tm-sidebar-answer-info, .tm-sidebar-detail-info {
    margin: 20px 0;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.tm-sidebar-number {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    height: 60%;
}

.tm-sidebar-title {
    font-size: 15px;
    height: 40%;
    width: 100%;
    text-align: center;
}

.tm-sidebar-number, .tm-sidebar-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tm-topuser-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin: 0 5px;
    cursor: pointer;
}

.tm-topuser-name {
    line-height: 30px;
    font-weight: lighter;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all ease 0.2s;
}

.tm-topuser-name:hover {
    font-weight: bold;
}

.tm-sidebar-right-title {
    margin: 10px;
    font-size: 20px;
}

.tm-sidebar-right-deco {
    width: 60%;
    height: 2px;
    background: black;
    margin: 0 10px;
}

.tm-sidebar-frame {
    margin-bottom: 30px;
    transition: all ease 0.3s;
}



/*=============================Form================================*/
.tm-form-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(117, 141, 162, 0.7);
    filter: blur(23);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tm-form-frame {
    width: 80%;
    height: auto;
    position: relative;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    transition: all ease 0.5s;
    opacity: 0;
}

.tm-form-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}

.tm-form-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.tm-form-name {
    font-size: 16px;
    line-height: 25px;
}

.tm-form-statistic {
    font-size: 10px;
    color: darkgray;
    line-height: 15px;
}

.tm-form-count {
    color: gray;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.tm-form-content {
    font-size: 13px;
    line-height: 24px;
    margin: 10px 0;
    max-height: 250px;
    overflow: auto;
    text-align: justify;
}

/* =================================Back ground=============================== */
.tm-background-radius-20 {
    background-color: #ecebeb;
    padding: 20px 0;
    border-radius: 20px;
}

.tm-background-white-blur {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
    transition: all ease 0.2s;
}

.tm-background-white-blur:hover {
    background-color: rgba(255, 255, 255, 1);
}

.tm-background-white-blur-no-hover {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
    transition: all ease 0.2s;
}

/* ====================================My answers================================== */
.tm-myanswer-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px;
    margin: 10px;
    background-color: #efefef;
    border-radius: 10px;
    transition: all ease 0.3s;
    cursor: pointer;
}

.tm-myanswer-frame:hover {
    background-color: gray;
}

.tm-myanswer-question-frame {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    width: 55%;
    /* background-color: #FDCD3D; */
    /* padding: 10px; */
    border-radius: 10px;
}

.tm-myanswer-question-img-frame {
    width: 150px;
    height: 150px;
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 10px;
}

.tm-ma-img-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}

.tm-ma-img-subject {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 25px;
    border-style: solid;
    border-color: darkorange;
    background-color: white;
}

.tm-myanswer-question-content-frame {
    width: 100%;
    flex-shrink: 1;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.tm-ma-question-title {
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #525252;
    margin-bottom: 5px;
    line-height: 35px;
}

.tm-ma-question-content {
    font-size: 16px;
    color: #585858;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: justify;
    height: 75px;
    overflow: hidden;
}

.tm-ma-question-info {
    font-size: 12px;
    color: gray;
}

.tm-ma-question-detail-info {
    color: #404040;
    font-weight: bold;
    margin: 0 10px 0 5px;
}

.tm-myanswer-answer-frame {
    width: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.tm-ma-answer-content {
    font-size: 16px;
    color: #585858;
    line-height: 25px;
    height: 75px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 100%;
    flex-shrink: 1;
}

.tm-ma-answer-info {
    background-color: white;
    padding: 10px;
    flex-shrink: 0;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    color: gray;
}

/* ================================Tags============================ */

.tm-tag-frame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ================================Pagination======================= */
.tm-pagination-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 10px;
    margin-top: 10px;
}

.tm-pagination-page {
    background-color: #d0d0d0;
    padding: 3px 7px;
    margin: 0 3px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.5s;
    font-size: 12px;
}

.tm-pagination-page:hover {
    background-color: black;
    color: white;
}

.tm-pagination-page-active {
    background-color: #36507E;
    color: white;
    font-weight: bolder;
    padding: 3px 7px;
    margin: 0 3px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}