body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100%;
}

/* @font-face {
  font-family: content;
  src: url("./fonts/Philosopher-Regular.ttf");
} */

@font-face {
  font-family: content;
  src: url("./fonts/OpenSans-Regular.ttf");
}

* {
  font-family: content;
}

/*============================Width===========================*/

.tm-width-10 {
  width: 10%;
}

.tm-width-20 {
  width: 20%;
}

.tm-width-30 {
  width: 30%;
}

.tm-width-40 {
  width: 40%;
}

.tm-width-50 {
  width: 50%;
}

.tm-width-60 {
  width: 60%;
}

.tm-width-70 {
  width: 70%;
}

.tm-width-80 {
  width: 80%;
}

.tm-width-90 {
  width: 90%;
}

.tm-width-100 {
  width: 100%;
}

/*==============================Text align======================*/

.tm-textalign-center {
  text-align: center;
}

.tm-textalign-right {
  text-align: right;
}

/* ===========================Font=============================== */
.tm-fontsize-14 {
  font-size: 14px;
}

.tm-fontsize-16 {
  font-size: 16px;
}

.tm-fontsize-18 {
  font-size: 18px;
}

/*=============================Button=============================*/
.tm-btn-gray {
  background-color: lightgray;
}

.tm-btn-gray:hover {
  background-color: black;
  color: white;
}

.tm-btn-green {
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.tm-btn-green:hover {
  background-color: green;
  color: white;
}

/*========================Frame position=======================*/

.tm-float-left {
  float: left;
}

.tm-float-right {
  float: right;
}

.tm-float-clear {
  clear: both;
}

.tm-flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.tm-flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tm-flex-row-center-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.tm-flex-row-spacebtw-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.tm-flex-row-left-nowrap {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
}

.tm-flex-row-left-wrap {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.tm-flex-row-spacebtw-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tm-flex-column-left {
  display: flex;
  flex-direction: column;
}

.tm-flex-column-reverse-left {
  display: flex;
  flex-direction: column-reverse;
}

.tm-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tm-flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tm-flex-column-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tm-flex-column-spacebtw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*=================================Margin====================================*/

.tm-margin-05 {
  margin: 5px;
}

.tm-margin-10 {
  margin: 10px
}

.tm-margin-20 {
  margin: 20px
}

.tm-margin-top10 {
  margin-top: 10px;
}

.tm-margin-top20 {
  margin-top: 20px;
}

/*==================================Transition===================================*/

.trans-all-05 {
  transition: ease all 0.5s;
}

.trans-all-02 {
  transition: ease all 0.2s;
}

/*===================================Background=================================*/

.tm-bg-gray-10 {
  background-color: lightgrey;
  border-radius: 4px;
}

/*====================================Button===============================*/

.tm-btn {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
  transition: all ease 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.tm-btn-success {
  color: #8EC970;
  font-weight: bolder;
  background-color: white;
  border-color: #8EC970;
}

.tm-btn-success:hover {
  color: white;
  background-color: #8EC970;
}

.tm-btn-cancel {
  color: #cb362e;
  font-weight: bold;
  background-color: white;
  border-color: #cb362e;
}

.tm-btn-cancel:hover {
  color: white;
  background-color: #cb362e;
}

.tm-btn-warning {
  color: #F4AC39;
  font-weight: bold;
  background-color: white;
  border-color: #F4AC39;
}

.tm-btn-warning:hover {
  color: white;
  background-color: #F4AC39;
}